<div class="bordwer container searchPadding">
    <form action="">
        <div class="form-group">
            <label>Search Github user Names</label>
            <input type="text" class="form-control" placeholder="Search Github" [(ngModel)]="userName" name="userName"
                (keyup)="findProfile()">

        </div>
    </form>
</div>
<br>
<div class="topPadding container border" *ngIf="user">

    <div class="card">
        <h5 class="card-header">{{user.name}} <small>{{user.login}}</small></h5>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{user.avatar_url}}" class="img-thumbnail img-fluid">
                    <hr>
                    <a href="{{user.html_url}}" class="btn btn-outline-success btn-block" target="_blank"> GitHub
                        Profile</a>

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">

                    <span class="badge badge-primary">{{user.followers}} Followers</span>
                    <span class="badge badge-secondary">{{user.following}} Following</span>
                    <span class="badge badge-success">{{user.public_gists}} Public Gists</span>
                    <span class="badge badge-info">{{user.public_repos}} Public Repos</span>
                    <hr>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngIf="user.login">UserName: {{user.login}}</li>
                            <li class="list-group-item" *ngIf="user.created_at">created in: {{user.created_at}}</li>
                            <li class="list-group-item" *ngIf="user.name">name: {{user.name}}</li>
                            
                            
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="card">
        <h5 class="card-header">Repos</h5>
        <div class="card-body col-md-12">

            <div class="card">
                <ul class="list-group list-group-flush" *ngFor="let repo of repos">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-9">
                                <a href="{{repo.html_url}}" target="-blank">{{repo.name}}</a>

                                <small>(Created days ago)</small>
                                <p>{{repo.description}}</p>

                            </div>
                            <div class="col-md-3">
                                <span class="badge badge-primary">watchers:{{repo.watchers}}</span>
                                <span class="badge badge-info">forks: {{repo.forks}}</span>
                                <br>
                                <a href="{{repo.html_url}}" target="_blank" class="btn btn-outline-info" style="width: 7.5rem">View
                                    Repo</a>
                            </div>

                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>